@import "../../../styles/variables.scss";

.sidebar {
  border-right: 1px solid #e5e7eb;
  margin-top: 100px;
}

.sidebarContent {
  padding: 1rem 0;
  margin-left: 1rem;
  background-color: $background-color;
}

.sidebarGroup {
  padding: 0.5rem 0.75rem;
}

.sidebarGroupLabel {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: $inactive-color;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sidebarMenuItem {
  display: flex;
  align-items: center;
}

.menuButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $primary-color;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
  margin-top: 0.5rem;

  &:hover {
    background-color: rgba($secondary-color, 0.05);
  }

  &.active {
    background-color: rgba($secondary-color, 0.1);
    border-left: 4px solid $secondary-color;
  }

  .icon {
    height: 1.25rem;
    width: 1.25rem;
    flex-shrink: 0;
  }

  .chevronIcon {
    height: 1rem;
    width: 1rem;
    margin-left: auto;
  }
}

.organizationButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $primary-color;
  width: 100%;
  padding: 0.5rem;
}
