.filterForm {
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.select {
  width: 100%;
  color: #545f7d;
  background-color: white;
  border-color: #e4e6ed;

  &:hover {
    background-color: #f9fafb;
  }
}
.selectTrigger {
  width: 100%;
  color: #545f7d;
  background-color: white;
  border-color: #e4e6ed;

  &:hover {
    background-color: #f9fafb;
  }
}

.dateButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #545f7d;
  border-color: #e4e6ed;

  &.dateButtonEmpty {
    color: #8e9196;
  }
}

.calendarIcon {
  height: 1rem;
  width: 1rem;
  opacity: 0.7;
}

.calendarWrapper {
  width: auto;
  z-index: 50;
  background-color: white;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.resetButton {
  flex: 1;
  background-color: transparent;
  border: 1px solid #545f7d;
  color: #545f7d;

  &:hover {
    background-color: rgba(84, 95, 125, 0.05);
  }
}

.filterButton {
  flex: 1;
  background-color: #39cdcc;
  color: white;

  &:hover {
    background-color: darken(#39cdcc, 5%);
  }
}
